PORT = 8000
# add your own database url here to run project locally
DATABASE_URL= "mongodb+srv://sljukicmarija22:DcCYtyCoBfC4Lyy1@cluster0.2qnxiis.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"