.inner-container{
    gap: 1.5rem;
    background: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #5d77d6;
    text-align: center;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}
.inner-container .button {
    background: #5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.specialties {
  display: flex;
  gap: 3rem;
  margin: 2rem 0;
  justify-content: center;
  flex-wrap: wrap;
}

.specialty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.specialty-text {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}


